* {
    font: arial, sans-serif;
}

.header {
    color: #ffffff;
    background-color: #33acfe;
    padding: 0.5px;
    margin-bottom: 2px;
    border: 2px solid;
    border-radius: 25px;
}

.search-form {
    display: inline-block;
}

.search-box {
    display: inline-block;
}

.gl-gallery-item {
    border: 2px solid #000000;
    width: 200px;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 3px 5px 0 5px;
    /*text-align: center;*/
}

.gl-item-image {
    width: 100%;
}

.gl-item-controls button {
    /*reset button*/
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.gl-gallery-item:hover button {
    /*button properties on hover*/
    visibility: visible;
}

.gl-gallery-item:hover {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.footer {
    color: #0000ff;
    margin-top: 5px;
}

.button {
    color: #7b007b;
}

.hidden {
    visibility: hidden;
}