.gl-gallery-item {
    border: 2px solid #000000;
    width: 200px;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    text-align: center;
    display: inline-block;
    /*text-align: center;*/
}

.gl-item-image {
    width: 100%;
}

.gl-item-controls button {
    /*reset button*/
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.gl-gallery-item:hover button {
    /*button properties on hover*/
    visibility: visible;
}

.footer {
    color: #0000ff;
}

.button {
    color: #7b007b;
}