* {
    font: arial, sans-serif;
    transition: background-color 5s ease;
}

.header, .footer{
    color: #ffffff;
    background-color: #33acfe;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 5px;
    margin-left: 2px;
    border: 2px solid;
    border-radius: 25px;
    overflow: hidden;
}

.header-text {
    /*width: 70%;*/
    display: table-cell;
    float: left;
}

.extra {
    /*width: 30%;*/
    /*display: inline-block;*/
    position: relative;
    display: table-cell;
    float: right;
}

.gl-items-container {
    display: inline-block;
}

.gl-gallery-item {
    border: 2px solid #ffffff;
    width: 200px;
    hight: 50px;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin: 3px 5px 0 5px;
    /*text-align: center;*/
}

.gl-item-image {
    width: 100%;
    height: 100%;
}

.gl-item-controls button {
    /*reset button*/
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.gl-gallery-item:hover button {
    /*button properties on hover*/
    visibility: visible;
}

.gl-gallery-item:hover {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.button {
    color: #7b007b;
}

.hidden {
    visibility: hidden;
}

.blue {
    background-color: #0000cc;
}

.footer {
    margin-left: auto;
    margin-right: auto;
}

#progress-outer {
    background: #ffffff;
    -webkit-border-radius: 13px;
    height: 10px;
    width: 200px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

#progress-inner {
    background: #00008b;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 9px;
}

body
{
    background-image:url('Background-1.jpg');
    background-color:#cccccc;
}
